[flake8]
max-line-length = 100
extend-ignore = 
    E203, # ignore ' : ' (black)
    D107, # __init__ doctstring
    ANN101, # missing type for self in method
    ANN002, # missing type for cls in classmethod
    ANN003 # missing type for **kwargs
